<%- include('header') -%> 

<form action="/compose" method="post" class="container">
    <h1>Compose a new post</h1>
<div class="mb-3">
    
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" >
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea class="form-control" id="content" name="content" rows="8"></textarea>

  </div>
  <button type="submit" class="btn btn-primary">Publish</button>

</form>
<%- include('footer') -%> 